<div class="create-workout-container">
    <div class="workouts">
        <div class="sub-nav-header">
            <h3>Workout Details</h3>
        </div>

        <div class="padding-20">
            <div class="sc-input-group">
                <div class="sc-input-label sc-align--right">Workout Name</div>
                <input type="text" class="sc-input" id="name" [(ngModel)]="workout.name" name="name" required>
            </div>
    
            <br>
    
            <div class="sc-input-group sc-input-group--date-time">
                <div class="sc-input-group">
                    <div class="sc-input-label sc-align--right">Date</div>
                    <input type="number" max="2" class="sc-input sc-input--number sc-input--date-day" [(ngModel)]="workout.date.day" placeholder="DD">
                    <input type="number" max="2" class="sc-input sc-input--number sc-input--date-month" [(ngModel)]="workout.date.month" placeholder="MM">
                    <input type="number" max="4" class="sc-input sc-input--number sc-input--date-year" [(ngModel)]="workout.date.year" placeholder="YYYY">
                </div>
            </div>
    
            <br>
    
            <div class="sc-input-group">
                <div class="sc-input-label sc-align--right">Description</div>
                <input type="text" class="sc-input" id="name" [(ngModel)]="workout.description" name="name" required>
            </div>
        </div>
    </div>

    <div class="exercises">
        <div class="sub-nav-header">
            <h3>Exercise Options</h3>
        </div>
        <div class="padding-20">
            <button type="button" class="sc-btn sc-btn-block sc-btn--secondary" (click)="savedExerciseModal = true">Exercise Templates</button>
            <button type="button" class="sc-btn sc-btn-block sc-btn--secondary margin-top-15" (click)="createExerciseModal = true">Add New Exercise Template</button>
        </div>
    </div>

    <div class="editor">
        <div class="sub-nav-header">
            <h3>Manage Your Workout</h3>
        </div>
        <div class="sc-row padding-20" *ngFor="let exercise of workout.exercises">
            <div class="exercise-item">
                <div class="details">
                    <h4 class="exercise-title">{{ exercise.name }}</h4>
                    <p>Hold: 20s</p>
                </div>
                <div class="options">
                    <button type="button" class="sc-btn sc-btn-block sc-btn--primary sc-btn-sm">Edit</button>
                    <button type="button" class="sc-btn sc-btn-block sc-btn--danger sc-btn-sm margin-top-15">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer padding-20">
        <button type="submit" class="sc-btn sc-btn--primary" (click)="submit()">Submit</button>
    </div>

    <div class="modal" *ngIf="savedExerciseModal" (click)="savedExerciseModal = false">
        <div class="modal-container">
            <div class="sc-row">
                <p>The are templates of exercises that you have previously used. You can re-use, edit and track statistics for each exercise!</p>
                <p>Click an exercise to add to your workout</p>
            </div>
            <div class="sc-row">
                <div class="exercise-item" *ngFor="let exercise of exercises" (click)="exerciseAddedFromList(exercise)">
                    <div class="details">
                        <h4 class="exercise-title">{{exercise.name}}</h4>
                        <p>Hold: 20s</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" *ngIf="createExerciseModal" (click)="createExerciseModal = false">
        <app-create-exercise (exerciseAdded)="exerciseAddedFromModal($event)" (click)="$event.stopPropagation()"></app-create-exercise>
    </div>

</div>
<!-- 

             -->

        <!-- <div class="">
            <div class="">
                <h5>Exercises in this Workout:</h5>
            </div>
            <div class="" *ngFor="let exercise of workout.exercises; index as i">
                <div class="">
                    <div class="">
                        {{exercise.name}}
                    </div>
                    <ul class="">
                        <li class="" *ngFor="let metric of exercise.metrics">
                            <span>{{metric.name}} :</span>
                            <span *ngIf="metric.type === 'number'">
                                <span> {{metric.value}} </span>
                                <input *ngIf="metric.edit" type="number" class="sc-input" id="number" [(ngModel)]="editMetric.value" name="number" value="metric.value"> 
                                <button *ngIf="!metric.edit" class="  " (click)="metric.edit = true; toggleEdit">Edit</button>
                                <button *ngIf="metric.edit" class="  " (click)="updateMetric(metric, exercise)">Update</button>
                            </span>
                            <div *ngIf="metric.type === 'weight'">
                                <input type="number" class="sc-input" id="weight" [(ngModel)]="editMetric.value" name="weight" value="metric.value"> KG
                            </div>
                            <div *ngIf="metric.type === 'distance'">
                                <input type="number" class="sc-input" id="distance" [(ngModel)]="editMetric.value" name="distance" value="metric.value"> KM
                            </div>
                            <div *ngIf="metric.type === 'time'">
                                <input type="number" class="sc-input" id="time" [(ngModel)]="editMetric.value" name="time" value="metric.value"> mins
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
