.alert-create-workout {
    background-color: #343a40;
    color: #ffffff;
}

.exercise-list-item-group {
    background-color: #343a40;
    color: #ffffff;
}

.list-group-item {
    background-color: #343a40;
    border-color: #343a40;
}

.exercise-group-item {
    background-color: white;
    border-color: #343a40;
    color: #343a40;
    display: flex;
}