<div class="create-workout-container">
    <div class="workouts">
        <div class="sub-nav-header">
            <h3>Add your workout info</h3>
        </div>

        <div class="padding-20">
            <div class="sc-input-group">
                <div class="sc-input-label">Workout Name</div><br>
                <input type="text" class="sc-input" id="name" [(ngModel)]="workout.name" name="name" required>
            </div>
        
            <br>
            
            <div class="sc-input-group sc-input-group--date-time">
                <div class="sc-input-group">
                    <div class="sc-input-label">Date</div><br>
                    <app-datepicker (dateAdded)="updateDate($event)"></app-datepicker>
                </div>
            </div>
    
            <!-- <div class="">
                <div class="sc-input-group sc-input-label">Templates</div><br>
                <div class="">
                    <button type="button" class="sc-btn margin-right-15" [ngClass]="{'sc-btn--primary': workout.type === 'running', 'sc-btn--light': workout.type !== 'running'}" (click)="workout.type = 'running'">Running</button>
                    <button type="button" class="sc-btn margin-right-15" [ngClass]="{'sc-btn--primary': workout.type === 'amrap', 'sc-btn--light': workout.type !== 'amrap'}" (click)="workout.type = 'amrap'">AMRAP</button>
                    <button type="button" class="sc-btn margin-right-15" [ngClass]="{'sc-btn--primary': workout.type === 'onerepmax', 'sc-btn--light': workout.type !== 'onerepmax'}" (click)="workout.type = 'onerepmax'">One Rep Max</button>
                    <button type="button" class="sc-btn margin-right-15" [ngClass]="{'sc-btn--primary': workout.type === 'sets', 'sc-btn--light': workout.type !== 'sets'}" (click)="workout.type = 'sets'">Sets</button>
                    <button type="button" class="sc-btn margin-right-15" [ngClass]="{'sc-btn--primary': workout.type === 'rounds', 'sc-btn--light': workout.type !== 'rounds'}" (click)="workout.type = 'rounds'">Rounds</button>
                    <button type="button" class="sc-btn margin-right-15" [ngClass]="{'sc-btn--primary': workout.type === 'custom', 'sc-btn--light': workout.type !== 'custom'}" (click)="workout.type = 'custom'">Custom</button>
                </div>
            </div> -->
        </div>
    </div>

    <div class="editor">
        <div class="sub-nav-header">
            <h3>Manage your workout</h3>
        </div>
        <div class="sc-row" *ngFor="let exercise of workoutOccurrence.exercises; index as i">
            <div class="exercise-item padding-15" [ngClass]="{'exercise-selected': selectedExercises[i] }">
                <div class="exercise-item-select">
                    <input class="margin-right-15" type="checkbox" (click)="selectExercise(i)">
                    <span class="margin-right-15"><strong>{{ exercise.name }}</strong></span>
                </div>
                <div class="details">
                    <div class="exercise-item-details">                        
                        <span class="margin-right-15" *ngFor="let metric of exercise.metrics">
                            <span *ngIf="metric.type === 'number'">
                                <strong>{{metric.name}}</strong> : {{metric.value}}
                            </span>
                            <span *ngIf="metric.type === 'time'">
                                <strong class="margin-right-15">{{metric.name}}</strong>
                                <span class="margin-right-15" *ngFor="let value of metric.value | keyvalue">
                                    {{value.value }}{{value.key}}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="options">
                    <div class="sc-btn-group">
                        <button type="button" class="sc-btn sc-btn--primary sc-btn-sm" (click)="editExerciseInWorkout(exercise, i)">Edit</button>
                        <button type="button" class="sc-btn sc-btn--danger sc-btn-sm" (click)="removeExerciseFromWorkout(i)">Remove</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-row padding-20 sc-align--center" *ngIf="workoutOccurrence.exercises.length === 0">
            <div>
                <p>You haven't added any exercises yet! Add exercises in the order you will do them, for example: <br><br>
                    <strong>Push ups </strong><br>
                    <strong>Sit ups</strong> <br>
                    <strong>Squats</strong> <br>
                    <strong>Push ups</strong> <br>
                    <strong>Sit ups</strong> <br>
                    <strong>Squats</strong>
                </p>
            </div>
        </div>
        <div class="workout-controls sc-align--center">
            <div class="sc-btn-group margin-bottom-15">
                <button type="button" class="sc-btn sc-btn--secondary" (click)="savedExerciseModal = true">Exercise List</button>
                <button type="button" class="sc-btn sc-btn--secondary" (click)="createExerciseModal = true">Add New Exercise</button>
                <button type="button" class="sc-btn sc-btn--secondary" [disabled]="workoutOccurrence.exercises.length === 0" (click)="addRounds()">Repeat Selected</button>
                <button type="button" class="sc-btn sc-btn--secondary" (click)="addRestPeriod()">Add Rest Point</button>
            </div>
        </div>
    </div>

    <div class="footer padding-20">
        <button type="submit" class="sc-btn sc-btn--primary" [disabled]="!workout.name" (click)="submit()">Submit</button>
    </div>

    <div class="modal exercise-list" *ngIf="savedExerciseModal" (click)="savedExerciseModal = false">
        <div class="modal-container">
            <div class="sc-row">
                <p>The are templates of exercises that you have previously used. You can re-use, edit and track statistics for each exercise! Click an exercise to add to your workout</p>
            </div>
            <div class="sc-row">
                <div class="exercise-item padding-15" *ngFor="let exercise of exercises" (click)="exerciseAddedFromList(exercise)">
                    <div class="exercise-item-select">
                        <span class="margin-right-15"><strong>{{ exercise.name }}</strong></span>
                    </div>
                    <div class="details">
                        <div class="exercise-item-details">                        
                            <span class="margin-right-15" *ngFor="let metric of exercise.metrics">
                                <span *ngIf="metric.type === 'number'">
                                    <strong>{{metric.name}}</strong> : {{metric.value}}
                                </span>
                                <span *ngIf="metric.type === 'time'">
                                    <strong class="margin-right-15">{{metric.name}}</strong>
                                    <span class="margin-right-15" *ngFor="let value of metric.value | keyvalue">
                                        {{value.value }}{{value.key}}
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <span class="margin-right-15">
                    <button type="button" (click)="savedExerciseModal = false" class="sc-btn sc-btn--danger sc-btn-block">Close</button>
                </span>
            </div>
        </div>
    </div>

    <div class="modal" *ngIf="createExerciseModal" (click)="closeCreateExerciseModal()">
        <app-create-exercise (closed)="closeCreateExerciseModal()" (exerciseAdded)="exerciseAddedFromModal($event)" (click)="$event.stopPropagation()" [exercise]="selectedExercise" [exerciseIndex]="selectedExerciseIndex"></app-create-exercise>
    </div>
</div>