<div class="">
    <div class="">
        <div class="">
            <h4 class="">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>

        <div class="">
            <div class="">
                <span class="">Workout Name</span>
            </div>
            <input type="text" class="sc-input" id="name" [(ngModel)]="workout.name" name="name" required>
        </div>

        <div class="">
            <div class="">
                <app-create-exercise (exerciseAdded)="exerciseAddedFromModal($event)"></app-create-exercise>

                <p>Recently used:</p>

                <div class="">
                    <a class="" *ngFor="let exercise of exercises"  (click)="addExerciseInput(exercise)">{{ exercise.name }}</a>
                </div>
                
                <button type="submit" class="sc-input" (click)="submit()">Submit</button>
            </div>
        </div>

        <div class="">
            <div class="">
                <h5>Exercises in this Workout:</h5>
            </div>

            <!-- List of exercises added to the workout -->
            <div class="" *ngFor="let exercise of workout.exercises; index as i">
                <div class="">
                    <div class="">
                        {{exercise.name}}
                    </div>
                    <ul class="">
                        <li class="" *ngFor="let metric of exercise.metrics">
                            <span>{{metric.name}} :</span>
                            <span *ngIf="metric.type === 'number'">
                                <span> {{metric.value}} </span>
                                <input *ngIf="metric.edit" type="number" class="sc-input" id="number" [(ngModel)]="editMetric.value" name="number" value="metric.value"> 
                                <button *ngIf="!metric.edit" class="  " (click)="metric.edit = true; toggleEdit">Edit</button>
                                <button *ngIf="metric.edit" class="  " (click)="updateMetric(metric, exercise)">Update</button>
                            </span>
                            <div *ngIf="metric.type === 'weight'">
                                <input type="number" class="sc-input" id="weight" [(ngModel)]="editMetric.value" name="weight" value="metric.value"> KG
                            </div>
                            <div *ngIf="metric.type === 'distance'">
                                <input type="number" class="sc-input" id="distance" [(ngModel)]="editMetric.value" name="distance" value="metric.value"> KM
                            </div>
                            <div *ngIf="metric.type === 'time'">
                                <input type="number" class="sc-input" id="time" [(ngModel)]="editMetric.value" name="time" value="metric.value"> mins
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>