<div class="sc-container">
    <div class="sc-sub-nav">
        <div class="sc-nav-links">
            <div class="sc-btn-group">
                <button class="sc-btn sc-btn-sm" (click)="toggleView('workout-list')" [ngClass]="{'sc-btn--active': view === 'workout-list' }">WORKOUT LIST</button>
                <button class="sc-btn sc-btn-sm" (click)="toggleView('workout-builder')" [ngClass]="{'sc-btn--active': view === 'workout-builder' }">WORKOUT EDITOR</button>
                <button class="sc-btn sc-btn-sm" (click)="toggleView('workout-statistics')" [ngClass]="{'sc-btn--active': view === 'workout-statistics' }">WORKOUT STATISTICS</button>            
            </div>
        </div>
    </div>

    <div class="workout-list-container" [ngClass]="{'show active': view === 'workout-list' }" *ngIf="view === 'workout-list'">
        <div class="workout-list-item" *ngFor="let workout of workouts">
            <div class="workout-list-title">
                <span class="workout-list-title"><strong>{{workout.name}}</strong></span>
            </div>
            <div class="workout-list-exercises margin-top-15">
                <span class="workout-list-title margin-right-15" *ngFor="let exercise of workout.statistics[0].exercises"><strong>{{exercise.name}}</strong></span>
            </div>
            <div class="workout-list-controls margin-top-15">
                <button type="button" class="sc-btn sc-btn--dark sc-btn-sm sc-btn--secondary" (click)="editWorkout(workout)">Edit</button> 
                <button type="button" class="sc-btn sc-btn--dark sc-btn-sm sc-btn--secondary" (click)="addWorkoutOccurrence(workout)">Re-use</button> 
                <button type="button" class="sc-btn sc-btn--dark sc-btn-sm sc-btn--secondary" (click)="selectedWorkout = workout; toggleView('workout-statistics')">Stats</button> 
            </div>
        </div>
        <div class="workout-list" *ngIf="workouts.length === 0">                         
            <div class="" role="alert">
                Looks like you've yet to make a workout! Use the workout builder to get started!
            </div>
        </div>
    </div>
    <app-create-workout *ngIf="view === 'workout-builder'" [workoutToEdit]="selectedWorkout" [action]="selectedAction"></app-create-workout>
    <app-statistics *ngIf="view === 'workout-statistics'" [selectedWorkout]="selectedWorkout"></app-statistics>
</div>