<div class="sc-container">

    <div class="workout-list">
        <div class="sc-sub-nav">
            <div class="sc-nav-links">
                <div class="sc-btn-group">
                    <button class="sc-btn sc-btn-sm" (click)="toggleView('workout-list')" [ngClass]="{'sc-btn--active': view === 'workout-list' }">WORKOUT LIST</button>
                    <button class="sc-btn sc-btn-sm" (click)="toggleView('workout-builder')" [ngClass]="{'sc-btn--active': view === 'workout-builder' }">WORKOUT EDITOR</button>
                </div>
            </div>
        </div>
    
        <div class="sc-card" [ngClass]="{'show active': view === 'workout-list' }">
            <div class="sc-card-container" *ngIf="view === 'workout-list'">
                <div class="sc-card-content">
                    <div class="sc-card-item" *ngFor="let workout of workouts">
                        <div class="">
                            <h5 class="">{{workout.name}}</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <ul class="">
                            <li *ngFor="let exercise of workout.exercises" class="">{{exercise.name}}</li>
                        </ul>
                        <div class="">
                            <button class="">
                                <a href="#" class="">Use Again</a>
                            </button> 
                            <button class="">
                                <a href="#" class="">Copy</a>
                            </button> 
                            <button class="">
                                <a href="#" class="">Stats</a>
                            </button> 
                        </div>
                    </div>
                </div>
                <div class="" *ngIf="workouts.length === 0">                         
                    <div class="" role="alert">
                        Looks like you've yet to make a workout! Use the workout builder to get started!
                    </div>
                </div>
            </div>
        </div>
    

        <app-create-workout *ngIf="view === 'workout-builder'"></app-create-workout>
    </div>
</div>