.workout-container {
    padding: 25px;
}

.nav-tabs .nav-link {
    width: 50%;
    text-align: center;
    font-size: 22px;
}    

.nav-tabs .nav-link.active {
    color: white;
    background-color: #343a40;
}

.tab-content {
    margin-top: 30px;
}

.card {
    margin-bottom: 30px;
}