<div class="sc-container">
    <div class="sc-sub-nav">
        <div class="sc-nav-links">
            <div class="sc-btn-group">
                <button class="sc-btn sc-btn-sm" (click)="toggleView('workout-list')" [ngClass]="{'sc-btn--active': view === 'workout-list' }">WORKOUT LIST</button>
                <button class="sc-btn sc-btn-sm" (click)="toggleView('workout-builder')" [ngClass]="{'sc-btn--active': view === 'workout-builder' }">WORKOUT EDITOR</button>
            </div>
        </div>
    </div>

    <div class="workout-list-container" [ngClass]="{'show active': view === 'workout-list' }" *ngIf="view === 'workout-list'">
        <div class="workout-list-item" *ngFor="let workout of workouts">
            <div class="details">
                <h5 class="">{{workout.name}}</h5>
            </div>
            <div class="options">
                <button type="button" class="sc-btn sc-btn--dark sc-btn-sm sc-btn--secondary" (click)="editWorkout(workout)">Edit</button> 
                <button type="button" class="sc-btn sc-btn--dark sc-btn-sm sc-btn--secondary">Re-use</button> 
                <button type="button" class="sc-btn sc-btn--dark sc-btn-sm sc-btn--secondary">Stats</button> 
            </div>
        </div>
        <div class="workout-list" *ngIf="workouts.length === 0">                         
            <div class="" role="alert">
                Looks like you've yet to make a workout! Use the workout builder to get started!
            </div>
        </div>
    </div>


    <app-create-workout *ngIf="view === 'workout-builder'" [workoutToEdit]="selectedWorkout"></app-create-workout>
</div>