.dashboard-container {
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
    padding: 20px;
    box-sizing: border-box;

    .sc-card {
        margin: 0 auto;
        max-width: 400px;
        margin-top: 10px;
    }
    
}

.sc-container {
    height: unset;
}


/* When the width is less than 500px*/
@media screen and (max-width: 500px) {
    .dashboard-container {
        grid-template-columns: auto;
    
        .sc-card {
        }
    }
}