.dashboard-container {
    width: 100%;
    display: grid;
    text-align: left;
    grid-template-columns: auto auto auto;
    padding: 20px;
    box-sizing: border-box;

    .sc-card {
        height: 200px;
    }
}

.sc-container {
    height: unset;
}


/* When the width is less than 500px*/
@media screen and (max-width: 500px) {
    .dashboard-container {
        grid-template-columns: auto;
    
        .sc-card {
            height: 150px;
            margin-top: 10px;
        }
    }
}