<nav class="">
    <a class="" href="#"> Workout Tracker </a>
    <button class="" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""></span>
    </button>
    <div class="" id="navbarText">
        <ul *ngIf="!isUserLoggedIn" class="navbar-nav mr-auto">
            <li class="" routerLinkActive="active"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
            <li class="" routerLinkActive="active"><a class="nav-link" [routerLink]="['/sign-up']">Sign Up</a></li>
        </ul>
        <ul *ngIf="isUserLoggedIn" class="navbar-nav mr-auto">
            <li class="" routerLinkActive="active"><a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a></li>
            <li class="" routerLinkActive="active"><a class="nav-link" [routerLink]="['/workouts']">Workout</a></li>
        </ul>
    </div>
</nav>