<div class="sc-header">
    <div class="sc-nav">
        <div class="sc-nav-title"><h3>Workout Tracker</h3></div>
        <div class="sc-nav-links sc-hide--xs sc-hide--sm">
            <div class="sc-btn-group">
                <button *ngIf="!isUserLoggedIn" type="button" class="sc-btn" routerLinkActive="sc-btn--active" [routerLink]="['/login']">LOGIN</button>
                <button *ngIf="!isUserLoggedIn" type="button" class="sc-btn" routerLinkActive="sc-btn--active" [routerLink]="['/sign-up']">SIGN UP</button>
                <button *ngIf="isUserLoggedIn" type="button" class="sc-btn" routerLinkActive="sc-btn--active" [routerLink]="['/workouts']">WORKOUT</button>
                <button *ngIf="isUserLoggedIn" type="button" class="sc-btn" routerLinkActive="sc-btn--active" [routerLink]="['/dashboard']">DASHBOARD</button>
            </div>
        </div>
    </div>
</div>