<nav class="">
    <a class="" href="#"> Workout Tracker </a>
    <div class="">
        <button *ngIf="!isUserLoggedIn" type="button" class="sc-btn sc-btn--primary" [routerLink]="['/login']">Login!</button>
        <button *ngIf="!isUserLoggedIn" type="button" class="sc-btn sc-btn--primary" [routerLink]="['/sign-up']">Sign Up!</button>
        <button *ngIf="isUserLoggedIn" type="button" class="sc-btn sc-btn--primary" [routerLink]="['/dashboard']">Workout!</button>
        <button *ngIf="isUserLoggedIn" type="button" class="sc-btn sc-btn--primary" [routerLink]="['/workouts']">Dashboard!</button>
    </div>
</nav>