.sc-app-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 67px auto 67px;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}

.sc-header {
    grid-area: header;
}

.sc-content {
    grid-area: content;
}

.sc-footer {
    grid-area: footer;
}