<div class="sc-app-container">
    <div class="sc-header">
        <app-header></app-header>
    </div>
    <div class="sc-content">
        <router-outlet></router-outlet>
    </div>
    <div class="sc-footer sc-footer--sticky sc-hide--md">
        <div class="sc-header">
            <div class="sc-nav">
                <div class="sc-nav-links">
                    <div class="sc-btn-group">
                        <button *ngIf="!isUserLoggedIn" type="button" class="sc-btn" routerLinkActive="sc-btn--active" [routerLink]="['/login']">Login</button>
                        <button *ngIf="!isUserLoggedIn" type="button" class="sc-btn" routerLinkActive="sc-btn--active" [routerLink]="['/sign-up']">Sign Up</button>
                        <button *ngIf="isUserLoggedIn" type="button" class="sc-btn" (click)="logout()">Logout</button>
                        <button *ngIf="isUserLoggedIn" type="button" class="sc-btn" routerLinkActive="sc-btn--active" [routerLink]="['/workouts']">Workout</button>
                        <button *ngIf="isUserLoggedIn" type="button" class="sc-btn" routerLinkActive="sc-btn--active" [routerLink]="['/dashboard']">Dashboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

