<div class="container">
    <div class="input-group mb-3">
        <div class="input-group-prepend col-2">
            <span class="input-group-text" id="basic-addon1">Username</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="username" [(ngModel)]="user.username" id="username" name="username" required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend col-2">
            <span class="input-group-text" id="basic-addon1">Password</span>
        </div>
        <input type="password" class="form-control" id="password" aria-label="password" [(ngModel)]="user.password" name="password" required>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-dark btn-lg btn-block" (click)="submit()">Submit</button>
    </div>
</div>