<div class="">
    <div class="">
        <div class="">
            <span class="">Username</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="username" [(ngModel)]="user.username" id="username" name="username" required>
    </div>
    <div class="">
        <div class="">
            <span class="">Password</span>
        </div>
        <input type="password" class="form-control" id="password" aria-label="password" [(ngModel)]="user.password" name="password" required>
    </div>
    <div class="">
        <button type="submit" class="" (click)="submit()">Submit</button>
    </div>
</div>