/* Workout App Colors */
.sc-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.sc-col {
  width: 100%;
  background: darkblue;
  border-radius: 5px;
}

.sc-app-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 60px auto 67px;
  grid-template-areas: "sidebar header" "sidebar content" "footer footer";
}

.sc-header {
  grid-area: header;
}

.sc-content {
  grid-area: content;
}

.sc-footer {
  grid-area: footer;
}

.sc-footer--sticky {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.sc-sidebar {
  grid-area: sidebar;
  background-color: #2C858D;
}

.sc-row {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  margin: 10px;
  padding: 5px;
}

.sc-align--left {
  text-align: left;
}

.sc-align--center {
  text-align: center;
}

.sc-align--right {
  text-align: right;
}

.sc-justify-items--left {
  justify-items: left;
}

.sc-justify-items--center {
  justify-items: center;
}

.sc-justify-items--right {
  justify-items: right;
}

/* When the width is less than 400px then hide*/
@media screen and (max-width: 400px) {
  .sc-hide--xs {
    display: none;
  }
}
/* When the width is between 400px and 900px then hide*/
@media screen and (min-width: 400px) and (max-width: 900px) {
  .sc-hide--sm {
    display: none;
  }
}
/* When the width is more than 900px then hide*/
@media screen and (min-width: 900px) {
  .sc-hide--md {
    display: none;
  }
}
.sc-btn {
  min-width: 120px;
  min-height: 40px;
  border-radius: 3px;
  border: 0px;
  opacity: 1;
  font-size: 16px;
  -webkit-box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.75);
}
.sc-btn--primary {
  background-color: #F79728;
  border-color: #F2F2F2;
  color: #F2F2F2;
}
.sc-btn--light {
  background-color: #626973;
  border-color: #F79728;
  color: #F79728;
}
.sc-btn--secondary {
  background-color: #2C858D;
  border-color: #F2F2F2;
  color: #F2F2F2;
}

.sc-btn-sm {
  min-width: 90px;
  min-height: 30px;
  font-size: 14px;
}

.sc-btn-lg {
  min-width: 150px;
  min-height: 50px;
  font-size: 18px;
}

.sc-btn-block {
  width: 100%;
}

.sc-btn-group .sc-btn {
  margin-right: 15px;
}

.sc-btn:hover {
  cursor: pointer;
}

.sc-btn-hover-effect {
  opacity: 0.9;
}

.sc-btn-hover-effect:hover {
  opacity: 1;
  transition: 1s;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.sc-input {
  width: 300px;
  height: 35px;
  border: 0px;
  border-radius: 3px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 18px;
  box-shadow: 0px 0px 5px 0px #858585;
}

.sc-input--date-day, .sc-input--date-month {
  width: 60px;
  margin-right: 10px;
}

.sc-input--date-year {
  width: 85px;
}

.sc-input--block {
  width: 100%;
  margin-top: 10px;
}

.sc-input-group {
  display: inline;
}

.sc-input-group--date-time {
  width: 600px;
}

.sc-input-label {
  margin-right: 10px;
  font-size: 18px;
}

.sc-help-block {
  font-size: 15px;
  color: darkslategray;
}

.sc-label {
  border-radius: 10px;
  border: 0px;
  margin-left: 8px;
  padding: 3px 7px 3px 7px;
  font-size: 15px;
  display: inline;
  color: #F2F2F2;
}
.sc-label--primary {
  background-color: #F79728;
}
.sc-label--secondary {
  background-color: #2C858D;
}
.sc-label--warning {
  background-color: #D69A39;
}
.sc-label--danger {
  background-color: #CF5345;
}
.sc-label--success {
  background-color: #34C77B;
}

.sc-label-sm {
  font-size: 13px;
}

.sc-label-lg {
  font-size: 17px;
}

.sc-list-item {
  width: 100%;
  height: 35;
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
  color: #F2F2F2;
}

.sc-list-item-link {
  text-decoration: none;
}

.sc-list-item:hover {
  background-color: #F79728;
}

.sc-card {
  background-color: #F2F2F2;
  -webkit-box-shadow: 5px 5px 12px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 12px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 12px -8px rgba(0, 0, 0, 0.75);
}
.sc-card .sc-card-container {
  padding: 10px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "content" "footer";
}
.sc-card .sc-card-container .sc-card-header {
  grid-area: header;
  padding: 10px;
}
.sc-card .sc-card-container .sc-card-header h3 {
  margin-top: 0px;
}
.sc-card .sc-card-container .sc-card-header hr {
  background-color: #F79728;
  height: 3px;
}
.sc-card .sc-card-container .sc-card-content {
  grid-area: content;
  padding: 10px;
}
.sc-card .sc-card-container .sc-card-footer {
  grid-area: footer;
  padding: 10px;
}
.sc-card .sc-card-container .sc-card-item {
  margin-bottom: 15px;
}

.sc-btn-tooltip:focus {
  outline: 0;
}

.sc-btn-tooltip:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

[tooltip] {
  margin: 20px 60px;
  position: relative;
  display: inline-block;
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: #2C858D;
  text-align: center;
  color: #F2F2F2;
  padding: 4px 2px;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
  z-index: 99;
  opacity: 0;
}

[tooltip]::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: #2C858D transparent transparent transparent;
  z-index: 99;
  opacity: 0;
}

[tooltip]:hover::after, [tooltip]:hover::before {
  opacity: 1;
}

[tooltip-position=right]::before {
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg);
}

[tooltip-position=right]::after {
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}

[tooltip-position=left]::before {
  left: 0%;
  top: 50%;
  margin-left: -12px;
  transform: translateY(-50%) rotate(-90deg);
}

[tooltip-position=left]::after {
  left: 0%;
  top: 50%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%);
}

[tooltip-position=top]::after {
  left: 50%;
}

[tooltip-position=top]::before {
  left: 50%;
}

[tooltip-position=buttom]::before {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg);
}

[tooltip-position=buttom]::after {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(0%);
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spinner {
  height: 100vh;
  opacity: 1;
  position: relative;
  transition: opacity linear 0.1s;
}
.spinner::before {
  animation: 2s linear infinite spinner;
  border: solid 3px #eee;
  border-bottom-color: #EF6565;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  width: 40px;
  will-change: transform;
}

.sc-nav {
  width: 100%;
  height: 67px;
  color: #F2F2F2;
  background-color: #33363D;
  font-family: "Merriweather Sans", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 67px;
  grid-template-areas: "nav-title nav-links";
}
.sc-nav .sc-nav-title {
  grid-area: nav-title;
  height: 100%;
  padding: 0px 0px 0px 20px;
}
.sc-nav .sc-nav-links {
  grid-area: nav-links;
  text-align: right;
  height: 100%;
}
.sc-nav .sc-btn-group {
  height: 100%;
}
.sc-nav .sc-btn-group .sc-btn {
  height: 100%;
  opacity: 1;
  background-color: #33363D;
  color: #F2F2F2;
  font-family: "Merriweather Sans", sans-serif;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  font-size: 18px;
}
.sc-nav .sc-btn-group .sc-btn:hover {
  cursor: pointer;
  opacity: 1;
  transition: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.sc-nav .sc-btn-group .sc-btn--active {
  color: #F79728;
  font-weight: 900;
}

.sc-sub-nav {
  width: 100%;
  height: 56px;
  color: #F2F2F2;
  background-color: #4A4F59;
  font-family: "Merriweather Sans", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "nav-links";
}
.sc-sub-nav .sc-nav-links {
  grid-area: nav-links;
  text-align: left;
  height: 100%;
}
.sc-sub-nav .sc-btn-group {
  height: 100%;
  box-sizing: border-box;
}
.sc-sub-nav .sc-btn-group .sc-btn {
  height: 100%;
  font-family: "Merriweather Sans", sans-serif;
  background-color: #4A4F59;
  color: #F2F2F2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0px;
  font-size: 16px;
  border-radius: 0px;
}
.sc-sub-nav .sc-btn-group .sc-btn--active {
  color: #F79728;
  border-bottom: 4px solid #F79728;
  font-weight: 900;
}

body, html {
  margin: 0px;
  height: 100%;
  font-family: "Baloo", cursive;
  background-color: #CCD3D9;
}

/*# sourceMappingURL=main.css.map */
