.create-exercise-container {
    width: 800px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;

    .sc-input-group {

        h3 {
            margin-top: 0px;
            margin-bottom: 0px;

            .sc-btn--danger {
                float: right;
                width: 70px;
                min-height: 30px;
            }
        }
        
    }

    .statistic-input-container {
        background-color: #626973;
        padding: 15px;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }
}

.sc-input-label {
    display: inline-block;
    width: 150px;
}
