<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Exercise!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="alert alert-create-exercise" role="alert">
          <h4 class="alert-heading">Some tips!</h4>
          <hr>
          <ul>
              <li>Choose what type of data is it you wish to track. You can track numbers, weight, distance and time</li>
              <li>Give each metric a default value to get started, this can be edited when adding to a workout</li>
              <li>Exercises will be saved for reuse in later workouts</li>
              <li>As you use exercises over and over you can view statistics for each one!</li>
          </ul>
      </div>
      <div class="">    
          <h5>Exercise Name</h5>
          <div class="mb-3">
              <input type="text" class="form-control" [(ngModel)]="exercise.name" name="name" required><br>
              <p>Add a name for your exercise</p>
          </div>

          <h5>Metric Name</h5>
          <div class="mb-3">
              <input type="text" class="form-control" [(ngModel)]="metricName" name="name" required><br>
              <p>What stat are you tracking? e.g. Reps, Sets, Weight, Distance, Time</p>
          </div>

          <h5 class="">Data Options</h5>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Options</label>
              </div>
  
              <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="metricType">
                  <option selected>Choose the type of input you need...</option>
                  <option value="number">Number Input</option>
                  <option value="weight">Weight Input</option>
                  <option value="distance">Distance Input</option>
                  <option value="time">Time Input</option>
              </select>

              <p>What stat are you tracking? e.g. Reps, Sets, Weight, Distance, Time</p>
          </div>
  
          <div *ngIf="metricType === 'number'" class="input-group mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Number</label>
              </div>
              <input type="number" class="form-control" id="number" [(ngModel)]="newMetric.number" name="number" placeholder='0'> 
          </div>
  
          <div *ngIf="metricType === 'weight'" class="">
              <label class=""> KG </label>
              <input type="number" class="" id="weight" [(ngModel)]="newMetric.weight" name="weight"> 
          </div>
  
          <div *ngIf="metricType === 'distance'" class="">
              <label class=""> Meters</label>
              <input type="number" class="" id="distance" [(ngModel)]="newMetric.distance" name="distance"> 
          </div>
  
          <div *ngIf="metricType === 'time'" class="">
              <label class=""> Time</label>
              <input type="number" class="" id="time" [(ngModel)]="newMetric.time" name="time"> 
          </div>
  
          <button type="button" class="btn btn-dark" (click)="addMetric()">Add Metric</button>
      </div>          
  </div>
  <div *ngIf="exercise.name">
      <h5>Your Exercise: {{exercise.name}}</h5>
      <metrics [metrics]='exercise.metrics'></metrics>
  </div>
  <div class="modal-footer"><button type="button" class="btn btn-outline-dark" (click)="saveExercise(); c('Save click');">Save</button></div>
</ng-template>

<button class="btn btn-lg btn-outline-primary btn-block btn-create-exercise" (click)="open(content)">Create new exercise</button>