$primary-color: #F79728;

$secondary-color: #2C858D;
$secondary-color-light: #84D2D9;
$secondary-color-dark: #1C5459;

$warning-color: #D69A39;
$danger-color: #CF5345;
$success-color: #34C77B;


$white: #F2F2F2;
$off-white: #FAFCFC;
$dark: #33363D;
$grey: #626973;
$grey-dark: #4A4F59;
$grey-light: #979DA6;
$grey-background: #CCD3D9;


body {
    font-family: 'Baloo', cursive;
}
.menu-item {
    display: inline-block;
    width: 50%;
    margin-top: 50px;
    box-sizing: border-box;
}

button:focus {outline:0;}

/* When the width is less than 400px*/
@media screen and (max-width: 400px) {
    .menu-item {
        width: 80%;
    }

    .create-workout-container {
        grid-template-areas:
            "workout" 
            "exercises"
            "footer";
    }   
}

/* When the width is between 400px and 900px*/
@media screen and (min-width: 400px) and (max-width: 900px) {
    .menu-item {
        width: 60%;
    }

    .create-workout-container {
        grid-template-areas:
            "workout" 
            "exercises"
            "footer";
    }    
}

/* When the width is more than 900px*/
@media screen and (min-width: 900px) {
    .menu-item {
        width: 400px;
    }
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-15 {
    margin-top: 15px;
}

.modal {
    position: absolute;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
}

.modal-container {
    display: inline-block;
    background-color: white;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
}